<ul class="post-comments p-0 m-0">
    <li v-for="comment in post.comments" class="mb-2">

        <div class="d-flex flex-wrap">

            <div class="user-img">
                <img v-bind:src="comment.userId.profilePicture ? '/uploads/' + comment.userId.profilePicture : '/images/profile.png'"
                    alt="userimg" class="avatar-35 rounded-circle img-fluid">
            </div>

            <div class="comment-data-block ml-3">
                <h6>{{comment.userId.firstName}} {{comment.userId.lastName}}</h6>
                <p class="mb-0">{{comment.content}}</p>
            </div>

            <div v-if="comment.userId._id == user._id" class="iq-card-header-toolbar d-flex align-items-center ml-auto">
                <div class="dropdown">
                    <span class="dropdown-toggle" data-toggle="dropdown">
                        <i class="ri-more-fill btn"></i>
                    </span>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a> -->
                        <a class="dropdown-item" type="button" data-toggle="modal" data-target="#deleteCommentModal"
                            @click="commentToDelete = comment"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                    </div>
                </div>
            </div>

        </div>

    </li>
</ul>

<!-- Reply Box -->
<!-- I change this to a div instead of a form to stick with our no-forms idea.
    This may be where we need to fix the alignment of the reply button -->
<div class="comment-text d-flex align-items-center mt-3" style="position: relative;">
    <input type="text" v-bind:id="post._id" class="form-control rounded" placeholder="Reply..."
        style="padding-right: 130px;">
    <div class="comment-attagement d-flex">
        <button type="submit" id="createComment" class="btn btn-light d-block mr-1"
            v-on:click="createComment(post._id)">Reply</button>
    </div>
</div>