<footer class="bg-white iq-footer">
    <div class="container-fluid">
        <div class="row">
            CS 341 - Spring 2021

            <span style="margin-left: auto">
                <small> Created By: </small>
                <a href="https://github.com/rubberband75"> Chandler Childs </a> ·
                <a href="https://github.com/Korzahk"> Spencer Eccles </a> ·
                <a href="https://github.com/TheDefallt"> Duane Richins </a> ·
                <a href="https://github.com/hernanyupanqui13"> Hernan Yupanqui </a>
            </span>
        </div>
    </div>
</footer>