<div class="iq-sidebar">
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li class="active">
                    <a href="index.html" class=" "><i class="las la-newspaper"></i><span>Newsfeed</span></a>
                </li>
                <li>
                    <a href="profile.html" class=" "><i class="las la-user"></i><span>Profile</span></a>
                </li>
                <li>
                    <a href="group.html" class=" "><i class="las la-users"></i><span>Family Members</span></a>
                </li>
            </ul>
        </nav>
        <div class="p-3"></div>
    </div>
</div>