<!------------------------------------------------------------------------------
  index.ejs
------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en-US">

<head>
  <%- include ('partials/head.ejs') %>
</head>

<body style="min-height: 100vh; background: linear-gradient(  160deg  , #4f75de, #292a52); display: flex;">
  <div class="container" style="align-self: center; justify-self: center;">

    <div class="jumbotron">
      <h1>Famblr</h1>
      <p class="lead">Stay connected with your family.</p>
      <p>
        <a class="btn btn-lg btn-primary" href="/login" role="button">Login</a>
        <a class="btn btn-lg btn-default" href="/signup" role="button">Sign Up</a>
      </p>
    </div>

  </div>
</body>