/* html, body {
    height: 100%;
    min-height: 100vh;
} */

.famblr-logo {
    background: rgb(80, 81, 255);
    background: -moz-linear-gradient(45deg, rgba(80, 81, 255, 1) 0%, rgba(0, 255, 149, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(80, 81, 255, 1) 0%, rgba(0, 255, 149, 1) 100%);
    background: linear-gradient(45deg, rgba(80, 81, 255, 1) 0%, rgba(0, 255, 149, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09009f", endColorstr="#00ff95", GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.famblr-background {
    background: rgb(80, 81, 255);
    background: -moz-linear-gradient(45deg, rgba(80, 81, 255, 1) 0%, rgba(0, 255, 149, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(80, 81, 255, 1) 0%, rgba(0, 255, 149, 1) 100%);
    background: linear-gradient(45deg, rgba(80, 81, 255, 1) 0%, rgba(0, 255, 149, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#09009f", endColorstr="#00ff95", GradientType=1);
}