<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../partials/head.ejs') %>
        <link href="/css/login.css" rel="stylesheet"></link>
    </head>

    <%- include ('../partials/nav.ejs') %>

    <body>
        <!-- Possibly add user's first and last name here?? -->
        <h1>Famblr Feed</h1> 

        <div>
            <textarea name="contentText" id="contentText" cols="30" rows="5" placeholder="Enter post text here"></textarea>
            <button id="createPost">Create Post</button>
        </div>

        <ul id="feedList">

        </ul>

    </body>
    <script>
        document.getElementById("createPost").addEventListener('click', () => {
            fetch('http://localhost:5000/feed/post', {
                method: 'POST',
                body: JSON.stringify({
                    contentText: document.getElementById('contentText').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
        })
    </script>
</html>