<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../partials/head.ejs') %>
          <link href="/css/login.css" rel="stylesheet">
          </link>
      </head>
      <body>
    <!-- Possibly add user's first and last name here?? -->
    <h1>Famblr Feed</h1> 

    <!-- Post creation box -->

    <ul id="feedList">

    </ul>

</body>
</html>